<div class="container" th:fragment="paging">
    <div class="row">
        <div class="col-md-12">
            <div th:if="${totalPage>1}">
                <div class="row">

                    <div class="col-sm-2">
                        Total Page : [[${totalPage}]]
                        Total Data : [[${totalData}]]
                    </div>
                    <div class="col-sm-4">
                        <a th:if="${currentPage>1}"
                           th:href="@{'/'+${pathServer}+'/'+${sort}+'/'+${sortBy}
                            +'/0'+'?column='+${columnName}+'&value='+${value}+'&size='+${sizePerPage}}"
                        >First</a>
                        <span th:unless="${currentPage>1}">First</span>
                        <a th:if="${currentPage>1}"
                           th:href="@{'/'+${pathServer}+'/'+${sort}+'/'+${sortBy}
                            +'/'+${currentPage-1}+'?column='+${columnName}+'&value='+${value}+'&size='+${sizePerPage}}"
                        >||Prev</a>
                        <span th:unless="${currentPage>1}">||Prev</span>
                    </div>
                    <!--                    ini yang di tengah tengah-->
                    <div class = "col-sm-2">
						<span th:each="i: ${#numbers.sequence(1, totalPage)}">
							<a th:if="${currentPage != i}" th:href="@{'/'+${pathServer}+'/'
							+ ${sort}
							+ '/'
							+ ${sortBy}
							+ '/'
							+ ${i}
							+ '?column='
							+ ${columnName}
							+ '&value='
							+ ${value}
							+ '&size='
							+ ${sizePerPage}
							}">
                                    [[${i}]]
                            </a>
                            <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
						</span>
                    </div>

                    <div class = "col-sm-4">
                        <a th:if="${currentPage < totalPage}"
                           th:href="@{'/'+${pathServer}+'/'
							+ ${sort}
							+ '/'
							+ ${sortBy}
							+ '/'
							+ ${currentPage + 1}
							+ '?column='
							+ ${columnName}
							+ '&value='
							+ ${value}
							+ '&size='
							+ ${sizePerPage}
						   }">Next</a>
                        <span th:unless="${currentPage < totalPage}">Next</span>
                        <a th:if="${currentPage < totalPage}"
                           th:href="@{'/'+${pathServer}+'/'
							+ ${sort}
							+ '/'
							+ ${sortBy}
							+ '/'
							+ ${totalPage}
							+ '?column='
							+ ${columnName}
							+ '&value='
							+ ${value}
							+ '&size='
							+ ${sizePerPage}
							}">|| Last</a>
                        <span th:unless="${currentPage < totalPage}">|| Last</span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>