<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css} "/>

    <title th:text="${PAGE_NAME}"></title>
</head>
<body>
<div>
    <h1 style="color: green" th:text="${PAGE_NAME}"></h1>
    <div th:replace="~{fragment/navbar::navheader}"></div>
    <div th:replace="~{fragment/filter::filter-form}"></div>
    <div th:replace="~{fragment/report-button::btn-functional}"></div>
    <div th:replace="~{fragment/table::main-table}"></div>
    <div th:replace="~{fragment/pagination::paging}"></div>


    <th:block th:replace="~{fragment/modals-add::modalsAdd('add1')}"></th:block>
    <th:block th:replace="~{fragment/modals-edit::modalsEdit('edit1')}"></th:block>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script><!--wajib ada untuk modals-->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script><!--wajib ada untuk modals-->
    <script type="text/javascript" th:src="@{/js/modals.js}"></script>
    <script type="text/javascript" th:src="@{/js/submitdata.js}"></script>
</div>
</body>
</html>